@import "tailwindcss";


.main-video {
    animation: shake 1.2632s infinite;
}
.bg-video {
    animation: shake -2.5264s infinite;
}

.pixel-art {
    image-rendering: pixelated;
}
.categorys::-webkit-scrollbar {
    display: none;
}

.page::-webkit-scrollbar {
    background-color: rgba(255,255, 255, 0%);   
    @apply w-2;
}
.page::-webkit-scrollbar-thumb {
    @apply rounded-full ;
    background-color: rgba(255,255, 255,20%);
}
.page::-webkit-scrollbar-track {
    background-color: rgba(255,255, 255,10%);
    background-color: transparent;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}