@import "tailwindcss";

* {
  user-select: none;
}

@font-face {
  font-family: 'Pixel_font';
  src: url('/fonts/ITGridbitDemo-Regular.otf') format('opentype');
}

.input_icon_div {
  @apply relative flex justify-center items-center h-7.5 w-7.5 border rounded-sm border-cyan-600 bg-gray-950 hover:border-cyan-900 cursor-pointer transition-all duration-300;
}
.input_icon {
  @apply w-7.5 bg-gray-950 border border-cyan-600 rounded-sm opacity-1 cursor-pointer;
}
.input_icon_display {
  @apply absolute h-full w-full rounded-sm z-10 pointer-events-none;
}


.input_text {
  @apply bg-gray-950 border border-cyan-600 mb-4 rounded-sm p-0.5 pl-2;
}

.arrow {
  border: solid rgba(0, 255, 255, 1);
  border-width: 0 .5rem .5rem 0;
  display: inline-block;
  padding: 3px;
}

.main-logo {
  @apply absolute text-[2.5rem] font-bold text-[#00ffff] sm:text-[10vw]  sm:-translate-y-4 select-none;
  -webkit-text-stroke: 8px  black;
  @media (min-width: 640px) {
    -webkit-text-stroke: 16px  black;
  }
  paint-order: stroke fill;
  font-family: 'Pixel_font', sans-serif;
  animation: beat 0.428s infinite;
}
.pixel_logo_gif {
  @apply w-1/2 sm:w-1/3 translate-y-2;
  animation: beat 0.428s infinite;
  image-rendering: pixelated;
}
.pixel_logo_gif::after {
  content: "";
  position: absolute;
  inset: 0;

  border-radius: 50%;
  background: rgba(0,255,255,.35);

  transform: scale(1);
  opacity: 0;

  animation: pulseRing 0.428s ease-out infinite;

  pointer-events: none;
  z-index: -1;
}


.main-video {
    animation: shake 1.2632s infinite;
}
.bg-video {
    animation: shake -2.5264s infinite;
}

.pixel-art {
    image-rendering: pixelated;
}
.pixel-font {
  font-family: 'Pixel_font', sans-serif;
}
.UpperBar::-webkit-scrollbar {
    display: none;
}

.page::-webkit-scrollbar {
    background-color: rgba(255,255, 255, 0%);   
    @apply w-2;
}

.page::-webkit-scrollbar-thumb {
    @apply rounded-full ;
    background-color: rgba(255,255, 255,20%);
}
.page::-webkit-scrollbar-track {
    background-color: rgba(255,255, 255,10%);
    background-color: transparent;
}

.sidebar_div {
    @apply fixed h-[calc(100vh-4rem)] w-56 bg-gray-900 transition-all duration-300 z-50 flex flex-col   ;
    top: 4rem;
    left: -14rem;
}
.sidebar_div.open {
    left: 0;
}

.sidebar_topic {
    @apply flex bg-gray-800 border-b-2 border-gray-700 h-12 w-full items-center pl-2 m-0;
}
.sidebar_topic_text {
    @apply text-xl font-bold text-gray-500 hover:text-[#404afc] transition-all duration-200;
}



@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}




:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


@keyframes beat {
    0% { transform: scale(1);}

    35% { transform: scale(1.01);}
    50% { transform: scale(1.1);}
    65% { transform: scale(1.01);}

    100% { transform: scale(1);}
}

@keyframes pulseRing {
    0% {
      transform: scale(.8);
      opacity: .8;
    }

    30% {
      transform: scale(1.8);
      opacity: 0;
    }

    100% {
      transform: scale(1.8);
      opacity: 0;
    }
}


.background-images{
    position:absolute;
    inset:0;
    overflow:hidden;
    pointer-events:none;
}
.floating-image{
    @apply w-64 h-36 opacity-50 rotate-45;
    position:absolute;
    image-rendering:pixelated;
    animation-name: drift;
    animation-timing-function: linear;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}

.beat1 {
    animation: beat .428s infinite;
}

.beat2 {
    animation: beat .428s infinite;
    animation-delay: .214s; /* metade do tempo */
}

@keyframes drift{

    from{
        transform: translateY(0)
    }

    to{
        transform: translateY(-256vh)
    }

}